.product_name{
    margin-top: 1rem;
    font-family: "Baloo 2", sans-serif;
}

.text_white{
    color: #FFF;
}

.product_info{
    text-align: justify;
    line-height: 1.4;
}

.product_container{
    width: 70vw;
    margin: 0 auto;
}